In [94]:
#pip install yahoo-finance

import os
import numpy as np 
import pandas as pd 
#import yfinance as yf
import requests
import alpaca_trade_api as tradeapi
import hvplot.pandas 
import questionary

In [95]:
# retrieving yahoo indices for cryptocurrency
crypto_indices = pd.read_html(requests.get('https://finance.yahoo.com/cryptocurrencies').text)
major_crypto = crypto_indices[0]
major_crypto.head()

,Symbol,Name,Price (Intraday),Change,% Change,Market Cap,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply,52 Week Range,Day Chart
0,BTC-USD,Bitcoin USD,35172.550000,-817.370000,-2.27%,669.46B,21.748B,21.748B,21.748B,19.034M,NaN,NaN
1,ETH-USD,Ethereum USD,2624.110000,-67.590000,-2.51%,316.697B,11.789B,11.789B,11.789B,120.687M,NaN,NaN
2,USDT-USD,Tether USD,0.999908,-0.000067,-0.01%,83.23B,51.422B,51.422B,51.422B,83.237B,NaN,NaN
3,BNB-USD,Binance Coin USD,364.780000,-14.830000,-3.91%,59.56B,1.412B,1.412B,1.412B,163.277M,NaN,NaN
4,USDC-USD,USD Coin USD,0.999821,0.000035,+0.00%,48.557B,3.287B,3.287B,3.287B,48.566B,NaN,NaN

In [ ]:
n = questionary.text("IWhat is the date range to be analyzed?  Please respond in number of days").ask()

if answer == 'yes':
    message = "Yes, good job, cereal is soup"

print(message)

In [96]:
# THIS IS THE BEGINNING OF THE CODE BLOCK FOR THE SIMPLE MOVING AVERAGE (SMA) FUNCTION

# Inputs required from User
# n = calendar days in the interval
# e.g., 2 months: n = 60, 6 months: n = 180

# window = number of days in the moving average
# e.g., 50 DMA: window = 50, 200 DMA: window = 200



n = 180 # 6 month data block from today
window = 25 # 25 day moving average (DMA)

btc_data = pd.read_csv("./Resources/btc-usd.csv",
                       index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True
                      )
btc_data

                Open      High       Low     Close       Volume
Date
2022-02-05  41501.48  41847.16  41038.10  41441.16  19652846215
2022-02-06  41441.12  42500.79  41244.91  42412.43  16142097334
2022-02-07  42406.78  44401.86  41748.16  43840.29  28641855926
2022-02-08  43854.65  45293.87  42807.84  44118.45  33079398868
2022-02-09  44096.70  44727.80  43232.97  44338.80  23245887300
...              ...       ...       ...       ...          ...
2022-05-01  37713.27  38627.86  37585.79  38469.09  27002760110
2022-05-02  38472.19  39074.97  38156.56  38529.33  32922642426
2022-05-03  38528.11  38630.00  37585.62  37750.45  27326943244
2022-05-04  37748.01  39902.95  37732.06  39698.37  36754404490
2022-05-05  39695.75  39789.28  35856.52  36575.14  43106256317

[90 rows x 5 columns]

In [97]:
from datetime import date
today = str(date.today())
print(today)

2022-05-07

In [98]:
# from the initial user input n is already set

from datetime import datetime, timedelta
import time
today = datetime.today()
n = 180
start_date = today - timedelta(days=n)
#print(f"Today's date,"  str(today))
#)
#print(f"The start date for time period,"  start_date.strftime('%Y-%m-%d')
#)
print (today)
print (start_date)

2022-05-07 17:45:30.904680
2021-11-08 17:45:30.904680

In [99]:
btc_df =btc_data.loc[start_date:today]

btc_df.head(85)

                Open      High       Low     Close       Volume
Date
2022-02-05  41501.48  41847.16  41038.10  41441.16  19652846215
2022-02-06  41441.12  42500.79  41244.91  42412.43  16142097334
2022-02-07  42406.78  44401.86  41748.16  43840.29  28641855926
2022-02-08  43854.65  45293.87  42807.84  44118.45  33079398868
2022-02-09  44096.70  44727.80  43232.97  44338.80  23245887300
...              ...       ...       ...       ...          ...
2022-04-26  40448.42  40713.89  37884.98  38117.46  34569088416
2022-04-27  38120.30  39397.92  37997.31  39241.12  30981015184
2022-04-28  39241.43  40269.46  38941.42  39773.83  33903704907
2022-04-29  39768.62  39887.27  38235.54  38609.82  30882994649
2022-04-30  38605.86  38771.21  37697.94  37714.88  23895713731

[85 rows x 5 columns]

In [100]:
# View header and tail of BTC for 2 months
print("BTC-USD data frame from: April 20, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(btc_df.head())
display(btc_df.tail())

BTC-USD data frame from: April 20, 20220 - May 05, 2022
-----------------------------------------------------

                Open      High       Low     Close       Volume
Date
2022-02-05  41501.48  41847.16  41038.10  41441.16  19652846215
2022-02-06  41441.12  42500.79  41244.91  42412.43  16142097334
2022-02-07  42406.78  44401.86  41748.16  43840.29  28641855926
2022-02-08  43854.65  45293.87  42807.84  44118.45  33079398868
2022-02-09  44096.70  44727.80  43232.97  44338.80  23245887300

                Open      High       Low     Close       Volume
Date
2022-05-01  37713.27  38627.86  37585.79  38469.09  27002760110
2022-05-02  38472.19  39074.97  38156.56  38529.33  32922642426
2022-05-03  38528.11  38630.00  37585.62  37750.45  27326943244
2022-05-04  37748.01  39902.95  37732.06  39698.37  36754404490
2022-05-05  39695.75  39789.28  35856.52  36575.14  43106256317

In [101]:
# Dropping last 2 columns of BTC 
btc_new_df = btc_df.drop(columns=['Open','High','Low','Volume'], axis=1)
print("BTC-USD update:")
print("---------------")
btc_new_df

BTC-USD update:
---------------

               Close
Date
2022-02-05  41441.16
2022-02-06  42412.43
2022-02-07  43840.29
2022-02-08  44118.45
2022-02-09  44338.80
...              ...
2022-05-01  38469.09
2022-05-02  38529.33
2022-05-03  37750.45
2022-05-04  39698.37
2022-05-05  36575.14

[90 rows x 1 columns]

In [102]:
"""
This is the code block for the 15 day moving average for Bitcoin over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
btc_avg = btc_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = btc_new_df[n:n_window].sum()
    avg = time/window
    btc_avg = btc_avg.append(avg, ignore_index=False)
    n += 1 

    
btc_final = btc_avg.drop_duplicates()
print("This is the listing of 15 day moving averages for Bitcoin")
display(btc_final)

This is the listing of 15 day moving averages for Bitcoin

               Close
Date
2022-02-05  41441.16
2022-02-06  42412.43
2022-02-07  43840.29
2022-02-08  44118.45
2022-02-09  44338.80
...              ...
2022-05-01  38469.09
2022-05-02  38529.33
2022-05-03  37750.45
2022-05-04  39698.37
2022-05-05  36575.14

[90 rows x 1 columns]

In [103]:
btc_final.hvplot(x='Date', y='Close', kind = 'line', value_label = "This is the moving average of Bitcoin over the user specific timeframe and window")

:Curve   [Date]   (Close)

In [104]:
#csv BTC-USD file
#btc_new_df.to_csv('BTC-USD.csv',float_format='%.2f')

In [105]:
# retrieving ETH-USD ticker
#eth_data = #btc_data = yf.Ticker('BTC-USD')

eth_data = pd.read_csv("./Resources/eth-usd.csv",
                        index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True)
eth_data

               Open     High      Low    Close       Volume
Date
2022-02-05  2984.45  3054.13  2966.78  3014.65  13102093957
2022-02-06  3014.96  3061.26  2965.43  3057.48   9466018022
2022-02-07  3057.42  3182.53  3002.93  3142.47  15197063785
2022-02-08  3143.01  3219.47  3038.38  3122.61  17136080906
2022-02-09  3121.18  3263.16  3063.16  3239.46  13951308490
...             ...      ...      ...      ...          ...
2022-05-01  2729.99  2838.70  2728.08  2827.76  15332730152
2022-05-02  2827.61  2874.15  2785.52  2857.41  18609741545
2022-05-03  2857.15  2859.19  2762.12  2783.48  13026093219
2022-05-04  2783.13  2956.69  2779.27  2940.64  18186749944
2022-05-05  2940.23  2948.96  2704.92  2749.21  22642925048

[90 rows x 5 columns]

In [106]:
#Creating ETH history data for 2 months
#eth_df = eth_data.history(period='2mo', start='2022-02-05', end='2022-05-05')
eth_df =eth_data.iloc[24:89]

eth_df.head(50)

               Open     High      Low    Close       Volume
Date
2022-03-01  2919.78  3029.65  2868.94  2972.49  18757425786
2022-03-02  2972.47  3026.87  2919.94  2950.12  16636517503
2022-03-03  2950.16  2964.67  2797.32  2834.47  13091199728
2022-03-04  2834.99  2835.18  2587.75  2617.16  14496939024
2022-03-05  2618.47  2679.10  2596.99  2664.83   8072368396
2022-03-06  2664.94  2673.64  2555.04  2555.04   8872976607
2022-03-07  2555.30  2639.94  2455.59  2497.77  14594098731
2022-03-08  2497.72  2618.17  2489.76  2576.75  13922922903
2022-03-09  2577.17  2761.80  2573.66  2729.78  14173665398
2022-03-10  2729.12  2729.12  2566.19  2608.05  13292477213
2022-03-11  2608.27  2664.56  2534.69  2559.56  12382419582
2022-03-12  2559.66  2606.44  2559.13  2574.75   6532996574
2022-03-13  2573.49  2594.55  2503.89  2518.94   8632000379
2022-03-14  2518.49  2604.03  2505.30  2590.70  11244398839
2022-03-15  2590.67  2662.33  2515.77  2620.15  12861105614
2022-03-16  2620.03  2781.31  2610.76  2772.06  17915109769
2022-03-17  2771.96  2826.16  2751.56  2814.85  12685265194
2022-03-18  2814.43  2973.62  2774.86  2945.34  15830879093
2022-03-19  2944.72  2979.99  2910.80  2946.26  11576463120
2022-03-20  2946.55  2956.97  2826.11  2860.46  12684727326
2022-03-21  2860.10  2954.56  2838.25  2897.98  15206116098
2022-03-22  2897.77  3040.38  2892.54  2973.13  16830539230
2022-03-23  2973.15  3036.75  2933.31  3031.07  16008767658
2022-03-24  3031.06  3118.39  3012.33  3108.06  18070503166
2022-03-25  3108.45  3183.96  3087.49  3106.67  17030503831
2022-03-26  3106.41  3146.83  3091.83  3143.18   8876420740
2022-03-27  3143.80  3291.58  3130.00  3291.58  13431866834
2022-03-28  3292.32  3424.02  3279.03  3336.63  20620450770
2022-03-29  3335.02  3470.19  3335.02  3401.99  19533323636
2022-03-30  3401.53  3435.29  3349.24  3385.16  15302506131
2022-03-31  3385.29  3435.13  3272.93  3281.64  17685495686
2022-04-01  3282.58  3467.56  3223.89  3449.55  20982988937
2022-04-02  3449.79  3521.28  3442.00  3445.06  23571556215
2022-04-03  3444.81  3573.96  3421.26  3522.83  15333808649
2022-04-04  3522.36  3535.15  3422.00  3521.24  18209969743
2022-04-05  3521.24  3546.71  3410.55  3411.79  16681503199
2022-04-06  3411.67  3411.67  3171.21  3171.69  25632563639
2022-04-07  3172.20  3263.47  3155.58  3233.27  16745496605
2022-04-08  3233.27  3301.61  3179.14  3192.07  17557050669
2022-04-09  3191.98  3261.96  3187.47  3261.92   9908112156
2022-04-10  3261.29  3303.00  3211.87  3211.87  10427054790
2022-04-11  3209.58  3214.46  2962.76  2981.05  21891804831
2022-04-12  2981.42  3077.45  2957.87  3030.38  20235707410
2022-04-13  3029.88  3123.58  3006.48  3118.34  16088473629
2022-04-14  3117.82  3139.93  2988.44  3019.91  15821419931
2022-04-15  3020.13  3044.29  3001.12  3040.92  11256651536
2022-04-16  3041.12  3074.89  3016.42  3062.31   8766710365
2022-04-17  3061.88  3075.78  2989.04  2993.40  10463091281
2022-04-18  2993.48  3062.52  2893.91  3057.61  18629381299
2022-04-19  3057.57  3125.08  3035.54  3104.11  14156035096

In [107]:
# View header and tail of ETH for 2 months
print("ETH-USD data frame from: March 1, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(eth_df.head())
display(eth_df.tail())

ETH-USD data frame from: March 1, 20220 - May 05, 2022
-----------------------------------------------------

               Open     High      Low    Close       Volume
Date
2022-03-01  2919.78  3029.65  2868.94  2972.49  18757425786
2022-03-02  2972.47  3026.87  2919.94  2950.12  16636517503
2022-03-03  2950.16  2964.67  2797.32  2834.47  13091199728
2022-03-04  2834.99  2835.18  2587.75  2617.16  14496939024
2022-03-05  2618.47  2679.10  2596.99  2664.83   8072368396

               Open     High      Low    Close       Volume
Date
2022-04-30  2815.53  2836.83  2727.41  2730.19  13520941867
2022-05-01  2729.99  2838.70  2728.08  2827.76  15332730152
2022-05-02  2827.61  2874.15  2785.52  2857.41  18609741545
2022-05-03  2857.15  2859.19  2762.12  2783.48  13026093219
2022-05-04  2783.13  2956.69  2779.27  2940.64  18186749944

In [108]:
# Dropping last 2 columns of ETH 
eth_new_df = eth_df.drop(columns=['Open','High','Low','Volume'], axis=1)
print("ETH-USD update:")
print("---------------")
eth_new_df

ETH-USD update:
---------------

              Close
Date
2022-03-01  2972.49
2022-03-02  2950.12
2022-03-03  2834.47
2022-03-04  2617.16
2022-03-05  2664.83
...             ...
2022-04-30  2730.19
2022-05-01  2827.76
2022-05-02  2857.41
2022-05-03  2783.48
2022-05-04  2940.64

[65 rows x 1 columns]

In [109]:
# ETH-USD csv file
eth_new_df.to_csv('ETH-USD.csv',float_format='%.2f')

In [110]:
# retrieve DOGE-USD ticker
#doge_data = yf.Ticker('DOGE-USD')

In [111]:
#Creating DOGE history data for 2 months
#doge_df = doge_data.history(period='2mo', start='2022-02-05', end='2022-05-05')

In [112]:
# View header and tail of DOGE for 2 months
"""
print("ETH-USD data frame from: April 20, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(doge_df.head())
display(doge_df.tail())
"""

'\nprint("ETH-USD data frame from: April 20, 20220 - May 05, 2022")\nprint("-----------------------------------------------------")\ndisplay(doge_df.head())\ndisplay(doge_df.tail())\n'

In [113]:
# Dropping last 2 columns of DOGE 
"""
doge_new_df = doge_df.drop(columns=['Stock Splits','Dividends'], axis=1)
print("DOGE-USD update:")
print("---------------")
doge_new_df
"""

'\ndoge_new_df = doge_df.drop(columns=[\'Stock Splits\',\'Dividends\'], axis=1)\nprint("DOGE-USD update:")\nprint("---------------")\ndoge_new_df\n'

In [114]:
# ETH-USD csv file
#doge_new_df.to_csv('DOGE-USD.csv',float_format='%.2f')

In [115]:
# retreiving Index tickers
stock_indices = pd.read_html(requests.get('https://finance.yahoo.com/world-indices/').text)
major_Stock = stock_indices[0]
major_Stock.head()

,Symbol,Name,Last Price,Change,% Change,Volume,Intraday High/Low,52 Week Range,Day Chart
0,^GSPC,S&P 500,4123.34,-23.53,-0.57%,2.738B,NaN,NaN,NaN
1,^DJI,Dow 30,32899.37,-98.60,-0.30%,418.137M,NaN,NaN,NaN
2,^IXIC,Nasdaq,12144.66,-173.03,-1.40%,4.413B,NaN,NaN,NaN
3,^NYA,NYSE COMPOSITE (DJ),15566.55,-86.05,-0.55%,0,NaN,NaN,NaN
4,^XAX,NYSE AMEX COMPOSITE INDEX,4284.11,46.98,+1.11%,0,NaN,NaN,NaN

In [116]:
#Collecting S&P500 indice
sp_data = pd.read_csv("./Resources/S&P500.csv",
                      index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True)                      
sp_data

               Open     High      Low    Close      Volume
Date
2022-02-07  4505.75  4521.86  4471.47  4483.87  3291600000
2022-02-08  4480.02  4531.32  4465.40  4521.54  3509330000
2022-02-09  4547.00  4590.03  4547.00  4587.18  3662810000
2022-02-10  4553.24  4588.92  4484.31  4504.08  4490500000
2022-02-11  4506.27  4526.33  4401.41  4418.64  4164960000
...             ...      ...      ...      ...         ...
2022-04-28  4222.58  4308.45  4188.63  4287.50  3969440000
2022-04-29  4253.75  4269.68  4124.28  4131.93  3943480000
2022-05-02  4130.61  4169.81  4062.51  4155.38  4474060000
2022-05-03  4159.78  4200.10  4147.08  4175.48  3877530000
2022-05-04  4181.18  4307.66  4148.91  4300.17  4236210000

[61 rows x 5 columns]

In [117]:
# sp500 date range
sp500_df =sp_data.iloc[15:60]

sp500_df.head(50)

               Open     High      Low    Close      Volume
Date
2022-03-01  4363.14  4378.45  4279.54  4306.26  4679400000
2022-03-02  4322.56  4401.48  4322.56  4386.54  4409090000
2022-03-03  4401.31  4416.78  4345.56  4363.49  4062080000
2022-03-04  4342.12  4342.12  4284.98  4328.87  4558250000
2022-03-07  4327.01  4327.01  4199.85  4201.09  5506330000
2022-03-08  4202.66  4276.94  4157.87  4170.70  6237000000
2022-03-09  4223.10  4299.40  4223.10  4277.88  4220180000
2022-03-10  4252.55  4268.28  4209.80  4259.52  4008690000
2022-03-11  4279.50  4291.01  4200.49  4204.31  3877430000
2022-03-14  4202.75  4247.57  4161.72  4173.11  4757600000
2022-03-15  4188.82  4271.05  4187.90  4262.45  4331170000
2022-03-16  4288.14  4358.90  4251.99  4357.86  5002240000
2022-03-17  4345.11  4412.67  4335.65  4411.67  4174170000
2022-03-18  4407.34  4465.40  4390.57  4463.12  6681510000
2022-03-21  4462.40  4481.75  4424.30  4461.18  3961050000
2022-03-22  4469.10  4522.00  4469.10  4511.61  3962880000
2022-03-23  4493.10  4501.07  4455.81  4456.24  4014360000
2022-03-24  4469.98  4520.58  4465.17  4520.16  3573430000
2022-03-25  4522.91  4546.03  4501.07  4543.06  3577520000
2022-03-28  4541.09  4575.65  4517.69  4575.52  3696850000
2022-03-29  4602.86  4637.30  4589.66  4631.60  4239660000
2022-03-30  4624.20  4627.77  4581.32  4602.45  3665390000
2022-03-31  4599.02  4603.07  4530.41  4530.41  3782040000
2022-04-01  4540.32  4548.70  4507.57  4545.86  3828290000
2022-04-04  4547.97  4583.50  4539.21  4582.64  3833500000
2022-04-05  4572.45  4593.45  4514.17  4525.12  3906230000
2022-04-06  4494.17  4503.94  4450.04  4481.15  4137080000
2022-04-07  4474.65  4521.16  4450.30  4500.21  4054010000
2022-04-08  4494.15  4520.41  4474.60  4488.28  3453040000
2022-04-11  4462.64  4464.35  4408.38  4412.53  3452540000
2022-04-12  4437.59  4471.00  4381.34  4397.45  3451990000
2022-04-13  4394.30  4453.92  4392.70  4446.59  3273140000
2022-04-14  4449.12  4460.46  4390.77  4392.59  3634740000
2022-04-18  4385.63  4410.31  4370.30  4391.69  3509340000
2022-04-19  4390.63  4471.03  4390.63  4462.21  3197930000
2022-04-20  4472.26  4488.29  4448.76  4459.45  3678040000
2022-04-21  4489.17  4512.94  4384.47  4393.66  3833570000
2022-04-22  4385.83  4385.83  4267.62  4271.78  3930660000
2022-04-25  4255.34  4299.02  4200.82  4296.12  4061070000
2022-04-26  4278.14  4278.14  4175.04  4175.20  3760420000
2022-04-27  4186.52  4240.71  4162.90  4183.96  3876340000
2022-04-28  4222.58  4308.45  4188.63  4287.50  3969440000
2022-04-29  4253.75  4269.68  4124.28  4131.93  3943480000
2022-05-02  4130.61  4169.81  4062.51  4155.38  4474060000
2022-05-03  4159.78  4200.10  4147.08  4175.48  3877530000

In [118]:
# viewing sp500 df
print("S&P500 data frame from: March 1, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(sp500_df.head())
display(sp500_df.tail())

S&P500 data frame from: March 1, 20220 - May 05, 2022
-----------------------------------------------------

               Open     High      Low    Close      Volume
Date
2022-03-01  4363.14  4378.45  4279.54  4306.26  4679400000
2022-03-02  4322.56  4401.48  4322.56  4386.54  4409090000
2022-03-03  4401.31  4416.78  4345.56  4363.49  4062080000
2022-03-04  4342.12  4342.12  4284.98  4328.87  4558250000
2022-03-07  4327.01  4327.01  4199.85  4201.09  5506330000

               Open     High      Low    Close      Volume
Date
2022-04-27  4186.52  4240.71  4162.90  4183.96  3876340000
2022-04-28  4222.58  4308.45  4188.63  4287.50  3969440000
2022-04-29  4253.75  4269.68  4124.28  4131.93  3943480000
2022-05-02  4130.61  4169.81  4062.51  4155.38  4474060000
2022-05-03  4159.78  4200.10  4147.08  4175.48  3877530000

In [119]:
#drop columns 
sp500_new_df = sp500_df.drop(columns=['Open','High','Low','Volume'], axis=1)
sp500_new_df

              Close
Date
2022-03-01  4306.26
2022-03-02  4386.54
2022-03-03  4363.49
2022-03-04  4328.87
2022-03-07  4201.09
2022-03-08  4170.70
2022-03-09  4277.88
2022-03-10  4259.52
2022-03-11  4204.31
2022-03-14  4173.11
2022-03-15  4262.45
2022-03-16  4357.86
2022-03-17  4411.67
2022-03-18  4463.12
2022-03-21  4461.18
2022-03-22  4511.61
2022-03-23  4456.24
2022-03-24  4520.16
2022-03-25  4543.06
2022-03-28  4575.52
2022-03-29  4631.60
2022-03-30  4602.45
2022-03-31  4530.41
2022-04-01  4545.86
2022-04-04  4582.64
2022-04-05  4525.12
2022-04-06  4481.15
2022-04-07  4500.21
2022-04-08  4488.28
2022-04-11  4412.53
2022-04-12  4397.45
2022-04-13  4446.59
2022-04-14  4392.59
2022-04-18  4391.69
2022-04-19  4462.21
2022-04-20  4459.45
2022-04-21  4393.66
2022-04-22  4271.78
2022-04-25  4296.12
2022-04-26  4175.20
2022-04-27  4183.96
2022-04-28  4287.50
2022-04-29  4131.93
2022-05-02  4155.38
2022-05-03  4175.48

In [120]:
#creating sp500 csv file
nasdaq_data = pd.read_csv("./Resources/NASDAQ.csv",
                          index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True)                      
nasdaq_data

                Open      High       Low     Close      Volume
Date
2022-02-07  14118.79  14236.31  13974.10  14015.67  4253020000
2022-02-08  13984.43  14226.48  13934.78  14194.45  4277150000
2022-02-09  14368.16  14490.72  14330.87  14490.37  4713210000
2022-02-10  14228.68  14509.56  14118.20  14185.64  5191050000
2022-02-11  14213.62  14246.70  13733.16  13791.15  5222590000
...              ...       ...       ...       ...         ...
2022-04-28  12712.86  12948.52  12487.86  12871.53  5030570000
2022-04-29  12710.42  12861.83  12315.74  12334.64  4719290000
2022-05-02  12331.69  12542.54  12202.41  12536.02  4896740000
2022-05-03  12511.46  12645.83  12460.99  12563.76  4522940000
2022-05-04  12574.73  12985.01  12367.02  12964.86  5467750000

[61 rows x 5 columns]

In [121]:
#creating nasdaq df
#nasdaq_data = yf.Ticker('^IXIC')

In [122]:
# nasdq date range
nasdaq_df =nasdaq_data.iloc[15:60]

nasdaq_df.head(50)

                Open      High       Low     Close      Volume
Date
2022-03-01  13716.70  13777.04  13441.32  13532.46  6094490000
2022-03-02  13597.53  13796.55  13493.91  13752.02  5229480000
2022-03-03  13837.59  13837.59  13472.64  13537.94  5058590000
2022-03-04  13455.23  13486.71  13224.98  13313.44  5319630000
2022-03-07  13328.36  13353.28  12828.02  12830.96  6163580000
2022-03-08  12800.04  13159.44  12670.08  12795.55  6631820000
2022-03-09  13113.70  13301.16  13039.79  13255.55  5377120000
2022-03-10  13098.35  13163.50  12946.28  13129.96  5034030000
2022-03-11  13229.77  13239.35  12830.37  12843.81  5250230000
2022-03-14  12795.12  12918.01  12555.35  12581.22  5853360000
2022-03-15  12685.23  12973.88  12616.59  12948.62  5414590000
2022-03-16  13119.37  13440.12  12992.20  13436.55  6498110000
2022-03-17  13360.72  13620.80  13317.14  13614.78  5575030000
2022-03-18  13564.63  13899.28  13528.06  13893.84  8109950000
2022-03-21  13860.39  13945.81  13682.55  13838.46  5636000000
2022-03-22  13866.43  14141.07  13857.29  14108.82  5400360000
2022-03-23  13990.35  14152.14  13921.65  13922.60  4995470000
2022-03-24  14001.32  14193.55  13897.20  14191.84  5046250000
2022-03-25  14194.72  14218.76  14010.79  14169.30  5553860000
2022-03-28  14177.21  14356.00  14101.34  14354.90  5086120000
2022-03-29  14500.39  14646.90  14419.40  14619.64  6031870000
2022-03-30  14558.59  14609.25  14383.45  14442.27  5439980000
2022-03-31  14444.78  14456.74  14217.72  14220.52  5427030000
2022-04-01  14269.53  14306.94  14131.81  14261.50  4984050000
2022-04-04  14304.35  14534.38  14286.45  14532.55  4598480000
2022-04-05  14490.26  14500.29  14169.12  14204.17  4707090000
2022-04-06  14002.58  14032.84  13788.90  13888.82  5265740000
2022-04-07  13861.49  13978.25  13689.23  13897.30  4822420000
2022-04-08  13830.47  13866.06  13693.69  13711.00  4554890000
2022-04-11  13547.29  13585.08  13401.39  13411.96  4916860000
2022-04-12  13584.69  13685.95  13317.74  13371.57  4965220000
2022-04-13  13373.12  13679.43  13353.66  13643.59  4887660000
2022-04-14  13647.43  13662.93  13345.22  13351.08  4623410000
2022-04-18  13319.39  13414.27  13222.03  13332.36  4350150000
2022-04-19  13312.44  13643.97  13281.22  13619.66  4527480000
2022-04-20  13665.38  13678.55  13426.13  13453.07  4639440000
2022-04-21  13623.70  13710.70  13140.83  13174.65  5206320000
2022-04-22  13168.80  13212.60  12828.02  12839.29  4457380000
2022-04-25  12749.17  13011.45  12722.59  13004.85  4827790000
2022-04-26  12918.04  12918.04  12490.74  12490.74  5136770000
2022-04-27  12500.88  12703.79  12430.90  12488.93  4773290000
2022-04-28  12712.86  12948.52  12487.86  12871.53  5030570000
2022-04-29  12710.42  12861.83  12315.74  12334.64  4719290000
2022-05-02  12331.69  12542.54  12202.41  12536.02  4896740000
2022-05-03  12511.46  12645.83  12460.99  12563.76  4522940000

In [123]:
print("NASDAQ data frame from: March 1, 20220 - May 05, 2022")
print("----------------------------------------------------")
display(nasdaq_df.head())
display(nasdaq_df.tail())

NASDAQ data frame from: March 1, 20220 - May 05, 2022
----------------------------------------------------

                Open      High       Low     Close      Volume
Date
2022-03-01  13716.70  13777.04  13441.32  13532.46  6094490000
2022-03-02  13597.53  13796.55  13493.91  13752.02  5229480000
2022-03-03  13837.59  13837.59  13472.64  13537.94  5058590000
2022-03-04  13455.23  13486.71  13224.98  13313.44  5319630000
2022-03-07  13328.36  13353.28  12828.02  12830.96  6163580000

                Open      High       Low     Close      Volume
Date
2022-04-27  12500.88  12703.79  12430.90  12488.93  4773290000
2022-04-28  12712.86  12948.52  12487.86  12871.53  5030570000
2022-04-29  12710.42  12861.83  12315.74  12334.64  4719290000
2022-05-02  12331.69  12542.54  12202.41  12536.02  4896740000
2022-05-03  12511.46  12645.83  12460.99  12563.76  4522940000

In [124]:
# drop columns 
nasdaq_new_df = nasdaq_df.drop(columns=['Open','High','Low','Volume'], axis=1)
nasdaq_new_df

               Close
Date
2022-03-01  13532.46
2022-03-02  13752.02
2022-03-03  13537.94
2022-03-04  13313.44
2022-03-07  12830.96
2022-03-08  12795.55
2022-03-09  13255.55
2022-03-10  13129.96
2022-03-11  12843.81
2022-03-14  12581.22
2022-03-15  12948.62
2022-03-16  13436.55
2022-03-17  13614.78
2022-03-18  13893.84
2022-03-21  13838.46
2022-03-22  14108.82
2022-03-23  13922.60
2022-03-24  14191.84
2022-03-25  14169.30
2022-03-28  14354.90
2022-03-29  14619.64
2022-03-30  14442.27
2022-03-31  14220.52
2022-04-01  14261.50
2022-04-04  14532.55
2022-04-05  14204.17
2022-04-06  13888.82
2022-04-07  13897.30
2022-04-08  13711.00
2022-04-11  13411.96
2022-04-12  13371.57
2022-04-13  13643.59
2022-04-14  13351.08
2022-04-18  13332.36
2022-04-19  13619.66
2022-04-20  13453.07
2022-04-21  13174.65
2022-04-22  12839.29
2022-04-25  13004.85
2022-04-26  12490.74
2022-04-27  12488.93
2022-04-28  12871.53
2022-04-29  12334.64
2022-05-02  12536.02
2022-05-03  12563.76

In [125]:
#nasdaq_new_df.to_csv('NASDAQ.csv',float_format='%.2f')

In [126]:
display(btc_new_df)

               Close
Date
2022-02-05  41441.16
2022-02-06  42412.43
2022-02-07  43840.29
2022-02-08  44118.45
2022-02-09  44338.80
...              ...
2022-05-01  38469.09
2022-05-02  38529.33
2022-05-03  37750.45
2022-05-04  39698.37
2022-05-05  36575.14

[90 rows x 1 columns]

In [127]:
display(eth_new_df)

              Close
Date
2022-03-01  2972.49
2022-03-02  2950.12
2022-03-03  2834.47
2022-03-04  2617.16
2022-03-05  2664.83
...             ...
2022-04-30  2730.19
2022-05-01  2827.76
2022-05-02  2857.41
2022-05-03  2783.48
2022-05-04  2940.64

[65 rows x 1 columns]

In [128]:
display(sp500_new_df)

              Close
Date
2022-03-01  4306.26
2022-03-02  4386.54
2022-03-03  4363.49
2022-03-04  4328.87
2022-03-07  4201.09
2022-03-08  4170.70
2022-03-09  4277.88
2022-03-10  4259.52
2022-03-11  4204.31
2022-03-14  4173.11
2022-03-15  4262.45
2022-03-16  4357.86
2022-03-17  4411.67
2022-03-18  4463.12
2022-03-21  4461.18
2022-03-22  4511.61
2022-03-23  4456.24
2022-03-24  4520.16
2022-03-25  4543.06
2022-03-28  4575.52
2022-03-29  4631.60
2022-03-30  4602.45
2022-03-31  4530.41
2022-04-01  4545.86
2022-04-04  4582.64
2022-04-05  4525.12
2022-04-06  4481.15
2022-04-07  4500.21
2022-04-08  4488.28
2022-04-11  4412.53
2022-04-12  4397.45
2022-04-13  4446.59
2022-04-14  4392.59
2022-04-18  4391.69
2022-04-19  4462.21
2022-04-20  4459.45
2022-04-21  4393.66
2022-04-22  4271.78
2022-04-25  4296.12
2022-04-26  4175.20
2022-04-27  4183.96
2022-04-28  4287.50
2022-04-29  4131.93
2022-05-02  4155.38
2022-05-03  4175.48

In [129]:
display(nasdaq_new_df)

               Close
Date
2022-03-01  13532.46
2022-03-02  13752.02
2022-03-03  13537.94
2022-03-04  13313.44
2022-03-07  12830.96
2022-03-08  12795.55
2022-03-09  13255.55
2022-03-10  13129.96
2022-03-11  12843.81
2022-03-14  12581.22
2022-03-15  12948.62
2022-03-16  13436.55
2022-03-17  13614.78
2022-03-18  13893.84
2022-03-21  13838.46
2022-03-22  14108.82
2022-03-23  13922.60
2022-03-24  14191.84
2022-03-25  14169.30
2022-03-28  14354.90
2022-03-29  14619.64
2022-03-30  14442.27
2022-03-31  14220.52
2022-04-01  14261.50
2022-04-04  14532.55
2022-04-05  14204.17
2022-04-06  13888.82
2022-04-07  13897.30
2022-04-08  13711.00
2022-04-11  13411.96
2022-04-12  13371.57
2022-04-13  13643.59
2022-04-14  13351.08
2022-04-18  13332.36
2022-04-19  13619.66
2022-04-20  13453.07
2022-04-21  13174.65
2022-04-22  12839.29
2022-04-25  13004.85
2022-04-26  12490.74
2022-04-27  12488.93
2022-04-28  12871.53
2022-04-29  12334.64
2022-05-02  12536.02
2022-05-03  12563.76

In [130]:
"""
This is the code block for the 15 day moving average for Bitcoin over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
btc_avg = btc_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = btc_new_df[n:n_window].sum()
    avg = time/window
    btc_avg = btc_avg.append(avg, ignore_index=False)
    n += 1 

    
btc_final = btc_avg.drop_duplicates()
print("This is the listing of 15 day moving averages for Bitcoin")
display(btc_final)

This is the listing of 15 day moving averages for Bitcoin

               Close
Date
2022-02-05  41441.16
2022-02-06  42412.43
2022-02-07  43840.29
2022-02-08  44118.45
2022-02-09  44338.80
...              ...
2022-05-01  38469.09
2022-05-02  38529.33
2022-05-03  37750.45
2022-05-04  39698.37
2022-05-05  36575.14

[90 rows x 1 columns]

In [131]:
btc_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the Bitcoin")

:Curve   [Date]   (Close)

In [132]:
"""
This is the code block for the 15 day moving average for Ethereum over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
eth_avg = eth_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = eth_new_df[n:n_window].sum()
    avg = time/window
    eth_avg = eth_avg.append(avg, ignore_index=False)
    n += 1 

    
eth_final = eth_avg.drop_duplicates()
print("This is the listing of 15 day moving averages for Ethereum")
display(eth_final)

This is the listing of 15 day moving averages for Ethereum

              Close
Date
2022-03-01  2972.49
2022-03-02  2950.12
2022-03-03  2834.47
2022-03-04  2617.16
2022-03-05  2664.83
...             ...
2022-04-30  2730.19
2022-05-01  2827.76
2022-05-02  2857.41
2022-05-03  2783.48
2022-05-04  2940.64

[65 rows x 1 columns]

In [133]:
eth_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the Ethereum")

:Curve   [Date]   (Close)

In [134]:
"""
This is the code block for the 15 day moving average for S&P 500 over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
sp500_avg = sp500_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = sp500_new_df[n:n_window].sum()
    avg = time/window
    sp500_avg = sp500_avg.append(avg, ignore_index=False)
    n += 1 

    
sp500_final = sp500_avg.drop_duplicates()
print("This is the listing of 15 day moving averages")
display(sp500_final)

This is the listing of 15 day moving averages

              Close
Date
2022-03-01  4306.26
2022-03-02  4386.54
2022-03-03  4363.49
2022-03-04  4328.87
2022-03-07  4201.09
2022-03-08  4170.70
2022-03-09  4277.88
2022-03-10  4259.52
2022-03-11  4204.31
2022-03-14  4173.11
2022-03-15  4262.45
2022-03-16  4357.86
2022-03-17  4411.67
2022-03-18  4463.12
2022-03-21  4461.18
2022-03-22  4511.61
2022-03-23  4456.24
2022-03-24  4520.16
2022-03-25  4543.06
2022-03-28  4575.52
2022-03-29  4631.60
2022-03-30  4602.45
2022-03-31  4530.41
2022-04-01  4545.86
2022-04-04  4582.64
2022-04-05  4525.12
2022-04-06  4481.15
2022-04-07  4500.21
2022-04-08  4488.28
2022-04-11  4412.53
2022-04-12  4397.45
2022-04-13  4446.59
2022-04-14  4392.59
2022-04-18  4391.69
2022-04-19  4462.21
2022-04-20  4459.45
2022-04-21  4393.66
2022-04-22  4271.78
2022-04-25  4296.12
2022-04-26  4175.20
2022-04-27  4183.96
2022-04-28  4287.50
2022-04-29  4131.93
2022-05-02  4155.38
2022-05-03  4175.48

In [135]:
sp500_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the S&P 500")

:Curve   [Date]   (Close)

In [136]:
"""
This is the code block for the 15 day moving average for Nasdaq over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
nasdaq_avg = nasdaq_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = nasdaq_new_df[n:n_window].sum()
    avg = time/window
    nasdaq_avg = nasdaq_avg.append(avg, ignore_index=False)
    n += 1 

    
nasdaq_final = nasdaq_avg.drop_duplicates()
print("This is the listing of 15 day moving averages")
display(nasdaq_final)

This is the listing of 15 day moving averages

               Close
Date
2022-03-01  13532.46
2022-03-02  13752.02
2022-03-03  13537.94
2022-03-04  13313.44
2022-03-07  12830.96
2022-03-08  12795.55
2022-03-09  13255.55
2022-03-10  13129.96
2022-03-11  12843.81
2022-03-14  12581.22
2022-03-15  12948.62
2022-03-16  13436.55
2022-03-17  13614.78
2022-03-18  13893.84
2022-03-21  13838.46
2022-03-22  14108.82
2022-03-23  13922.60
2022-03-24  14191.84
2022-03-25  14169.30
2022-03-28  14354.90
2022-03-29  14619.64
2022-03-30  14442.27
2022-03-31  14220.52
2022-04-01  14261.50
2022-04-04  14532.55
2022-04-05  14204.17
2022-04-06  13888.82
2022-04-07  13897.30
2022-04-08  13711.00
2022-04-11  13411.96
2022-04-12  13371.57
2022-04-13  13643.59
2022-04-14  13351.08
2022-04-18  13332.36
2022-04-19  13619.66
2022-04-20  13453.07
2022-04-21  13174.65
2022-04-22  12839.29
2022-04-25  13004.85
2022-04-26  12490.74
2022-04-27  12488.93
2022-04-28  12871.53
2022-04-29  12334.64
2022-05-02  12536.02
2022-05-03  12563.76

In [137]:
nasdaq_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the Nasdaq")

:Curve   [Date]   (Close)

In [138]:
"""
Linear regression analysis is used to predict the value of a variable based on the 
value of another variable. The variable you want to predict is called the dependent 
variable. The variable you are using to predict the other variable's value is called 
the independent variable.

"""

"\nLinear regression analysis is used to predict the value of a variable based on the \nvalue of another variable. The variable you want to predict is called the dependent \nvariable. The variable you are using to predict the other variable's value is called \nthe independent variable.\n\n"